<!doctype html> <!-- Sets the document type to HTML -->
<html lang = "en"> <!-- Sets the language of the document to English -->

<head> <!-- Head section of the HTML document -->
    <meta charset = "UTF-8"> <!-- Sets the character encoding to UTF-8 -->
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0"> <!-- Ensures proper scaling on mobile devices -->
    <title>Swedish frequency bands</title> <!-- Sets the title of the page to "Swedish frequency bands" -->
    <link rel = "stylesheet" href = "style.css"> <!-- Links to an external CSS file for styling -->